<a href="#" class="link-info" data-bs-toggle="modal" data-bs-target="#exampleModal4">S-02 moisture content</a>
<!-- <button type="button" class="btn btn-primary shadow mb-5  rounded" >
    Request Form
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">MOISTURE CONTENT: RTDA /NLPW/S-02</h5>
                <button type="button" class="btn-close text-red" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-2">

                    <label for="inputPassword" class="col-sm-4 col-form-label">Name of Sample:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Name of Sample">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Test methods:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Test methods">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Lab ref number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Lab reference number">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Equipment ID:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Equipment ID">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Date Test started:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Date Test started">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Date Test completed:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Date Test completed">
                    </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Pan Nr°:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Pan Nr°">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Wet weight of soils + pan:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Wet weight of soils + pan">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Dry weight of soils + pan:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Dry weight of soils + pan">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">weight of pan:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="weight of pan">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">weight of water:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="weight of water">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Dry weight of Solids :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Dry weight of Solids">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Moisture content:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Moisture content">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>