@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
p{
    font-family: 'Cormorant SC', serif;
    font-size: x-large;
}
body{
    margin-left: 2px;
    
}
/* #background
{
    background-color:  	#EAEDED;
} */