<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container mx-6 shadow p-3 mb-5 mt-8 bg-white rounded" >
        
            <h1>Welcome to your Dashboard!</h1>
            <p>If you want our service click the button below to access request form and wait for feedback.</p>
    
    </div>
    <!-- Button trigger modal -->
    <app-modal></app-modal>
    <app-table1></app-table1>
</body>

</html>