<a href="#" class="link-info" data-bs-toggle="modal" data-bs-target="#exampleModal8">S-08,S-09 proctor test</a>
<!-- <button type="button" class="btn btn-primary shadow mb-5  rounded" >
    Request Form
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">COMPACTION TEST-MODIFIED: RTDA /NLPW/S-08, S-09</h5>
                <button type="button" class="btn-close text-red" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-2">
                <label for="inputPassword" class="col-sm-4 col-form-label">Name of Sample:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Name of Sample">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Test methods:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Test methods">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Lab ref number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Lab reference number">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Equipment ID:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Equipment ID">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Date Test started:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Date Test started">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Date Test completed:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control mt-2" id="inputPassword" placeholder="Date Test completed">
                    </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">added water:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="added water">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight mould+ Wet mat:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight mould+ Wet mat">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight mould:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight mould">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Wet density:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Wet density">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Volume mould:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Volume mould">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Dry density:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Dry density">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Pan N°:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Pan N°">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight pan +Wet mat:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight pan +Wet mat">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight pan+drymat:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight pan+drymat">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight pan:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight pan">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight water:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight water">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Weight dry material:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Weight dry material">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Moisture content:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Moisture content">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>