<div class="card shadow-lg p-3 mt-5  bg-white rounded ">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Sample Records
    </h3>
    <div class="card-body shadow p-3 mb-5  bg-white rounded ">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">TESTS-TYPES</th>
                <th scope="col">VIEW</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Kwizera Prosper</td>
                
                <td>
                    Concrete
                  </td>
                  <td>
                    <span class="table-remove"
                      ><app-tech-view></app-tech-view></span
                    >
                  </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Rene patrick</td>
               
                <td>
                    Soil
                  </td>
                  <td>
                    <span class="table-remove"
                      ><app-tech-view></app-tech-view></span
                    >
                  </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Sano yves</td>
                <td>
                    Concrete
                  </td>
                  <td>
                    <span class="table-remove"
                      ><app-tech-view></app-tech-view></span
                    >
                  </td>
              </tr>
            </tbody>
            
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
  <!-- Editable table -->
