<!-- Button trigger modal -->
<button type="button" class="btn btn-primary shadow mb-3 ms-2 mt-5 rounded" data-bs-toggle="modal" data-bs-target="#exampleModalFeedback">
    FeedBack Form
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalFeedback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">FeedBack Form</h5>
                <button type="button" class="btn-close text-red" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-2">

                    
            </div>
        </div>
    </div>
