
    <div class="card me-4 shadow p-3 mb-5 mt-8  rounded">
    <div class="row" id="form">
        <div class="col-sm-4 d-flex flex-column">
            <h3>Aggregate</h3>
            <app-link-form></app-link-form>
            <app-link-form1></app-link-form1>
            <app-link-form2></app-link-form2>
            <app-link-form3></app-link-form3>
            
            <h3>Concrete</h3>
            <app-link-form4></app-link-form4>
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <h3>Soil</h3>
            <app-link-form5></app-link-form5>
            <app-link-form6></app-link-form6>
            <app-link-form7></app-link-form7>
            <app-link-form8></app-link-form8>
            <app-link-form9></app-link-form9>
            <app-link-form10></app-link-form10>
            
        </div>
        <div class="col-sm-4 d-flex flex-column">
            <h3>Asphalt and bitumen</h3>
            <a href="#" class="link-info">B-01 PENETRATION FORM</a>
            <a href="#" class="link-info">B-03 SOFTENING POINT FORM</a>
            <a href="#" class="link-info">B-07 MARSHALL FORM</a>
        </div>
    </div>
</div>
    

