<!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalView">
 VIEW
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">REPORT VIEW</h5>
                <button type="button" class="btn-close text-red" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-2">

                <div class="card mb-2">
                    <h1>Data</h1>
                </div>
            </div>
        </div>
    </div>
