<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col-md-10 col-lg-9 col-xl-6">
                    <div class="card mt-2 shadow  bg-white rounded" style="border-radius: 15px;">
                        <div class="card-body">
                            <h3 class="text-uppercase text-center mb-3">Create an account</h3>
                            <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                                
                                <div class="mb-2">
                                    <label for="name ">First Name:</label>
                                    <input formControlname="First_Name" type="name" class="form-control" id="name" placeholder="Enter your name"
                                        name="name">
                                </div>
                                <div class="mb-2">
                                    <label for="name ">Last Name:</label>
                                    <input formControlname="Last_Name" type="name" class="form-control" id="name" placeholder="Enter your name"
                                        name="name">
                                </div>
                                <div class="mb-2">
                                    <label for="email">Email:</label>
                                    <input formControlname="email" type="emal" class="form-control" id="email" placeholder="Enter your Email"
                                        name="email">
                                </div>
                                <div class="mb-2">
                                    <label for="phone">Phone:</label>
                                    <input  formControlname="phone" type="phone" class="form-control" id="phone"
                                        placeholder="Enter your Phone number" name="phone">
                                </div>
                                <div class="mb-2">
                                    <label for="pwd">Password:</label>
                                    <input formControlname="Password" type="password" class="form-control" id="pwd" placeholder="Enter password"
                                        name="pswd">
                                </div>
                                <div class="mb-2">
                                    <label for="pwd">Repeat Password:</label>
                                    <input formControlname="repeatPassword" type="password" class="form-control" id="pwd" placeholder="Enter password"
                                        name="pswd">
                                </div>

                                <div class="form-check ">
                                    <input class="form-check-input mb-3" type="checkbox" value=""
                                        id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                service</u></a>
                                    </label>
                                </div>
                                <button type="submit" class=" text-uppercase btn btn-primary  mb-3" class="btn1">SUBMIT</button>
                                <p class="text-muted mb-0">Have already an account? <a href="../app/login/"
                                        class="fw-bold text-body"><u>Login here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>