<!-- Button trigger modal -->
<button type="button" class="btn btn-primary shadow mb-5  rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Request Form
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-primary">
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">Request Form</h5>
                <button type="button" class="btn-close text-red" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group row mb-2">

                    <label for="inputPassword" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Customer Name">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Adress:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Enter your Adress">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Tel:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Enter your tel number">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Company:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Company Name">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Company:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Company Adress">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Company:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Company Telephone number">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Project:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Project Name">
                    </div>
                </div>
                <div class="row mb-2">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Project:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Project Location">
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">Test: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Choose...Test identification">
                            <option>Choose...Test identification</option>
                            <option>Soils tests</option>
                            <option>Aggregate tests</option>
                            <option>Tests on asphalts</option>
                            <option>Bituminous materials</option>
                            <option>Cement and concrete tests</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">Types: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Choose...Test identification">
                            <option >Choose...Types of parameters</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1">Category: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Choose...Test identification">
                            <option selected>Choose...Category</option>
                            <option>RTDA project</option>
                            <option>Local community initiative</option>
                            <option>Government related project</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>