body
{
    background-color:  	#EAEDED;
}
#sidebar {
    -moz-box-shadow:    -3px 0 15px 0 #555;
    -webkit-box-shadow: -3px 0 15px 0 #555;
    box-shadow:         -3px 0 20px 0 #555;
}
#bodycard
{
    margin-left: -3px;
}