/* body
{
    background-color:  	#EAEDED;
} */
h2{
    font-family: Georgia, serif;
}
h4{
    color: #555555;
}
button
{
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px 32px;
    border-radius: 10px;
}
a{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-resp
{
    width: 32%;
}
@media screen and (max-width: 600px) {
    .img-resp {
        width: 100%;
    }
}